#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.loader-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
}

.orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: rotate 1.5s linear infinite;
}

.dot {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: radial-gradient(circle at top left, #3703f3a3, #080bba86);
  opacity: 0.2;
  animation: fade 1.5s linear infinite;
}

.dot:nth-child(1) { top: 0%; left: 50%; transform: translate(-50%, 0); animation-delay: 0s; }
.dot:nth-child(2) { top: 25%; left: 87%; transform: translate(-50%, -50%); animation-delay: 0.25s; }
.dot:nth-child(3) { top: 75%; left: 87%; transform: translate(-50%, -50%); animation-delay: 0.5s; }
.dot:nth-child(4) { top: 100%; left: 50%; transform: translate(-50%, -100%); animation-delay: 0.75s; }
.dot:nth-child(5) { top: 75%; left: 13%; transform: translate(-50%, -50%); animation-delay: 1s; }
.dot:nth-child(6) { top: 25%; left: 13%; transform: translate(-50%, -50%); animation-delay: 1.25s; }

.loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
  color: #2505f5fd;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fade {
  0%, 100% { opacity: 0.9; }
  50% { opacity: 1; }
}

.preloader-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

@media (max-width: 768px) {
  .loader-wrapper {
    width: 100px;
    height: 100px;
  }

  .dot {
    width: 20x;
    height: 20px;   
  }

  .loader-text {
    font-size: 22px;
  }
}

/* @media (max-width: 480px) {
  .loader-wrapper {
    width: 80px;
    height: 80px;
  }

  .dot {
    width: 12px;
    height: 12px;
  }

  .loader-text {
    font-size: 18px;
  }
} */
