.skills-section {
    padding: 50px 22px 60px;
    background: black;
    color: white;
}

.skills-section h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}

.skills-card {
    padding: 22px 25px;
    background-color: white;
    color: black;
    border: 2px solid white;
    transition: all 0.3s ease;
}

.skills-card h3 {
    margin-top: 20px;
}

.skills-card p {
    margin-top: 12px;
}

.skills-card:hover {
    transform: translateY(-10px);
}

.skills-card img {
    height: 70px;
    width: 70px;
}

.view-btn {
    display: block;
    background-color: black;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    margin: 65px auto 0;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s ease-in-out;
}

.btn {
    color: white;
}

.btn:hover {
    color: black;
}

.view-btn:hover {
    background-color: white;
    color: black;
    transform: scale(0.8);
}

@media (max-width: 768px) {
    .skills-section {
        padding: 40px 17px;
    }

    .skills-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin: 0 auto;
    }

    .skills-section h1 {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .skills-card {
        padding: 18px 14px;
        text-align: center;
    }

    .skills-card p {
        font-size: 12px;
    }

    .skills-card img {
        height: 55px;
        width: 55px;
    }

    .view-btn {
        font-size: 18px;
        padding: 8px 16px;
        margin-top: 45px;
    }
}