.home-section {
  display: flex;
  align-items: center;
  background-image: url(../../assets/images/homeimg/thunder.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 120px 25px 110px;
  margin-top: 84px;
  background-color: transparent;
}

.home-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.202);
  z-index: 0;
}

.home-section>* {
  position: relative;
  z-index: 1;
}


.home-text {
  width: 50%;
  padding: 10px 0;
}

.home-text h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.home-text h2 {
  font-size: 50px;
  font-weight: 200;
  margin-bottom: 30px;
}

.home-text p {
  font-size: 20px;
  line-height: 33px;
}

.social-line {
  width: 50px;
  height: 2px;
  background: white;
  display: inline-block;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.social-icons a {
  text-align: center;
  border: 2px solid white;
  padding: 8px;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:nth-child(2) {
  width: 36px;
  height: 35px;
  font-size: 15px;
  padding: 7px;
}

.social-icons a:nth-child(3),
.social-icons a:nth-child(4) {
  width: 45px;
  height: 44px;
  font-size: 22px;
}

.social-icons a:nth-child(5) {
  width: 36px;
  height: 34px;
  font-size: 15px;
}

.social-icons a:hover {
  background-color: white;
  color: black;
  transform: translateY(-4px);
}

.my-image {
  width: 50%;
  display: flex;
  margin-right: 15px;
  justify-content: flex-end;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
  perspective: 1000px;
}

.my-image img {
  width: 420px;
  height: 445px;
  border-radius: 20px;
  transform: translateZ(40px);
  pointer-events: none;
  user-select: none;
}


@media (pointer: coarse) {
  .my-image {
    transform: none !important;
  }
}

@media (max-width: 576px) {
  .home-section {
    flex-direction: column;
    padding: 130px 20px 80px;
  }

  .home-text,
  .my-image {
    width: 100%;
    text-align: center;
  }

  .home-text h1 {
    font-size: 34px;
  }

  .home-text h2 {
    font-size: 30px;
  }

  .social-icons a {
    transition: none;
  }

  .social-icons a:hover {
    background-color: white;
    color: black;
    transform: none;
  }

  .my-image {
    justify-content: center;
    margin-top: 40px;
    margin-right: 0;
    transition: none;
    transform: none;
  }

  .my-image img {
    height: 450px;
    transition: none;
    transform: none;
  }
}