.contact-section {
  padding: 60px 70px;
}

.contact-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 50px;
}

.contact-wrapper {
  padding: 0 2px;
}

.contact-card {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 2fr 1.3fr;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.contact-form {
  padding: 45px 35px 0;
}

.contact-form h2 {
  margin-bottom: 30px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.field label {
  font-size: 16px;
  margin-bottom: 10px;
  color: black;
}

.field input::placeholder,
.field textarea::placeholder {
  color: gray;
  opacity: 1;
}


.field input,
.field textarea {
  padding: 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  width: 100%;
}

.field.phone input {
  width: 48%;
}


.field input:focus,
.field textarea:focus {
  border-color: #1f3db8;
}

.submit-btn {
  width: 100%;
  padding: 17px;
  background: #1f3db8;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #162f91;
}

.contact-info {
  padding: 40px 30px;
  background: #fafafa;
}

.contact-info h2 {
  padding-left: 12px;
  margin-bottom: 30px;
}

.map-box {
  width: 100%;
  height: 365px;
  margin-bottom: 25px;
  overflow: hidden;
  padding: 0 12px;
}

.map-box iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

.follow {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

.follow p {
  font-weight: 600;
  font-size: 19px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.socials a {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 14px;
  transition: all 0.3s ease;
}

.socials a:hover {
  background: #1f3db8;
  color: #fff;
  border-color: #1f3db8;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-section {
    padding: 13px;
  }

  .contact-title {
    text-align: center;
    font-size: 32px;
    margin: 45px;
  }

  .contact-form {
    padding: 18px;
    border-radius: none;
  }

  .contact-card {
    grid-template-columns: 1fr;
  }

  .row {
    grid-template-columns: 1fr;
  }

  .field.phone input {
    width: 100%;
  }

  .contact-info {
    padding: 18px;
  }
}