* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-primary: #0a0a0a;
  --bg-secondary: #111111;
  --text-primary: #ffffff;
  --text-secondary: #bdbdbd;
}

/* =========================
   HEADER
========================= */

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--bg-primary);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: 170px;
  height: 55px;
  object-fit: contain; 
}

/* =========================
   MENU
========================= */

.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-item {
  position: relative;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 500;
  cursor: none;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.nav-item a {
  color: var(--text-primary);
  transition: 0.3s ease;
}

.nav-item:hover,
.nav-item a:hover {
  color: #d4af37;
}

/* Underline Animation */

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 2px;
  background: #d4af37;
  transition: 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

/* =========================
   HIRE BUTTON
========================= */

.hire-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 25px;
  padding: 15px 20px;
  border: 3px solid var(--text-primary);
  color: var(--text-primary);
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hire-btn a {
  color: var(--text-primary);
  text-decoration: none;
  transition: all 0.3s ease;
}

.hire-btn .line {
  width: 24px;
  height: 2px;
  background: var(--text-primary);
  transition: all 0.3s ease;
}

.hire-btn:hover {
  background: #d4af37;
  border-color: #d4af37;
}


.hire-btn:hover .line {
  background: #fff;
  width: 15px;
}

/* =========================
   MOBILE ICON
========================= */

.icon-container {
  display: none;
}

.hamburger,
.close-btn {
  font-size: 30px;
  color: var(--text-primary);
  cursor: pointer;
}

.desktop-only {
  display: flex;
}

.mobile-hire {
  display: none;
}

@media (max-width: 992px) {
  .navbar {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 40px;
  }

  .nav-menu {
    gap: 20px;
  }
}

/* =========================
   MOBILE VIEW
========================= */

@media (max-width: 768px) {

  .header {
    display: flex;
    justify-content: space-between;
    background: var(--bg-primary);
  }

  .navbar {
    width: 100%;
    padding: 5px 5px;
  }

  .navbar img {
    width: 150px;
    height: 90px;
  }

  .icon-container {
    display: block;
    padding: 22px 15px;
    color: var(--text-primary);
  }

  .desktop-only {
    display: none;
  }

  .mobile-hire {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 15px 20px;
    color: var(--text-primary);
  }

  .nav-menu {
    display: flex;
    position: fixed;
    align-items: flex-start;
    top: 83px;
    left: -100%;
    width: 100%;
    height: auto;
    background: var(--bg-primary);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    flex-direction: column;
    gap: 20px;
    padding: 25px 0;
    z-index: 999;
    transition: left 0.3s ease;
  }

  .nav-menu.show {
    left: 0;
  }

  .nav-item {
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
    color: var(--text-primary);
  }

  .nav-item a {
    color: var(--text-primary);
    display: block;
    width: 100%;
  }

  /* Remove Hover Effects */

  .nav-item:hover,
  .nav-item a:hover {
    color: var(--text-primary);
  }

  .nav-item::after,
  .nav-item:hover::after {
    display: none;
    width: 0;
  }

  .hire-btn:hover {
    background: transparent;
    border-color: var(--text-primary);
  }

  .hire-btn:hover .line {
    width: 24px;
    background: var(--text-primary);
  }

  .project-btn:hover,
  .resume-btn:hover {
    transform: none;
  }

  .project-btn:hover .line {
    width: 30px;
  }
}


