* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.99);
    color: white;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 80px;
}

.navbar img {
    width: 150px;
    height: 55px;
}

.nav-menu {
    display: flex;
    gap: 40px;
}

.nav-item a {
    color: white;
}

.nav-item a:hover {
    color: blue;
}

.nav-item {
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-item:hover {
    color: blue;
}

.hire-btn {
    display: inline-flex;
    align-items: center;
    padding: 12px 13px;
    border: 2px solid white;
    border-radius: 2px;
    gap: 10px;
    background: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hire-btn .line {
    width: 25px;
    height: 2px;
    background: white;
    display: inline-block;
    transition: width 0.3s ease;
}


.hire-btn:hover {
    background: white;
    color: black;
    transform: scale(0.9);
}

.hire-btn:hover .line {
    width: 16px;
    background: black;
}

.icon-container {
    display: none;
    cursor: pointer;
    font-size: 28px;
    color: white;
}

.mobile-hire {
    display: none;
}

.desktop-only {
    display: inline-flex;
}

@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .icon-container {
        display: block;
        padding: 22px 15px;
    }

    .desktop-only {
        display: none;
    }

    .mobile-hire {
        display: block;
        width: 100%;
        font-size: 18px;
        padding: 15px 0;
        cursor: pointer;
        color: white;
    }

    .nav-menu {
        position: fixed;
        top: 84px;
        left: -100%;
        width: 100%;
        height: 278px;
        gap: 21px;
        background: black;
        flex-direction: column;
        padding: 20px 0;
        z-index: 999;
        transition: left 0.30s ease;
    }

    .nav-menu.show {
        left: 0;
    }

    .nav-item {
        font-size: 16px;
        padding: 0 20px;
    }

    .nav-item a {
        color: #fff;
    }
}

@media (max-width: 992px) {
    .navbar {
        padding: 13px 40px;
    }

    .nav-menu {
        gap: 21px;
    }
}