.projects-section {
  padding: 50px 40px;
  background-image: url(../../assets/images/about/aboutback.jpg);
  background-position: center;
  background-size: cover;
}

.projects-section h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 40px;
}

.projects-section p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 70px;
}

.projects-title-main {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.projects-title-main.show {
  opacity: 1;
  transform: translateY(0);
}

.slider {
  overflow: hidden;
  width: 100%;
}

.projects-grid {
  display: flex;
  align-items: center;
  gap: 50px;
  cursor: grab;
}

.projects-grid.animate {
  transition: transform 3s ease-in-out;
}

.project-cards {
  position: relative;
  overflow: hidden;
  flex: 0 0 auto;
  padding: auto;
  width: 360px;
  border: 1px solid gray;
  background-color: #000;
}

.project-cards img {
  width: 100%;
  max-width: fit-content;
  height: 280px;
  display: block;
}

.project-cards::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top,
      rgba(255, 255, 255, 0.637) 0%,
      rgba(255, 255, 255, 0.077) 40%,
      rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: 0.4s ease;
}

.project-cards:hover::after {
  opacity: 1;
}

.project-cards h2 {
  bottom: 120px;
  padding: 0 20px;
  font-size: 26px;
}

.projects-title {
  bottom: 70px;
  padding: 0 20px;
  display: flex;
  gap: 5px;
}

.tech-box {
  background-color: rgba(9, 60, 171, 0.996);
  color: white;
  padding: 6px 10px;
  font-size: 13px;
  font-weight: 600;
}

.projects-footer {
  bottom: 25px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-link {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.projects-type {
  background-color: rgba(9, 60, 171, 0.996);
  padding: 6px 10px;
  font-size: 12px;
  color: white;
}

.project-cards h2,
.project-cards .projects-title,
.project-cards .projects-footer {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(80px);
  transition: transform 0.5s ease, opacity 0.5s ease;
  color: #fff;
}

.project-cards:hover h2,
.project-cards:hover .projects-title,
.project-cards:hover .projects-footer {
  opacity: 1;
  transform: translateY(0);
}

.project-cards h2 {
  transition-delay: 0.1s;
}

.project-cards .projects-title {
  transition-delay: 0.2s;
}

.project-cards .projects-footer {
  transition-delay: 0.3s;
}

.project-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #ffffff56;
  font-size: 18px;
  color: black;
  border: 2px solid black;
  box-shadow: 0 8px 30px rgba(20, 20, 19, 0.404), 0 0 20px rgba(13, 13, 14, 0.047);
  padding: 10px 10px;
  margin: 35px auto 0;
  cursor: pointer;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}

.project-btn:hover {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.352) 40%,
      rgba(0, 0, 0, 0.938) 100%);
  transform: scale(0.95);
}

.project-btn .line {
  width: 25px;
  height: 2px;
  background: black;
  transition: width 0.3s ease;
}

.project-btn:hover .line {
  width: 16px;
  background: white;
}

.preview-btn {
  color: black;
  text-decoration: none;
}

.project-btn:hover .preview-btn {
  color: #fff;
}

@media (max-width: 768px) {
  .projects-section {
    padding: 30px 35px;
  }

  .projects-section h1 {
    font-size: 26px;
  }

  .projects-section p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .slider {
    overflow: hidden;
  }

  .projects-grid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    cursor: grab;
  }

  .project-cards {
    width: 343px;
    margin: 20px auto;
    overflow: hidden;
    background-color: #fff;

  }

  .project-cards img {
    height: 220px;
    width: 100%;
  }

  .projects-grid.animate {
    transition: transform 3s ease-in-out;
  }

  .project-cards h2,
  .project-cards .projects-title,
  .project-cards .projects-footer {
    opacity: 1;
    transform: translateY(0);
    position: static;
    padding: 20px;
    color: black;
  }

  .projects-title {
    flex-wrap: wrap;
  }

  .projects-footer {
    gap: 8px;
  }

  .projects-link {
    color: black;
  }

  .project-btn:hover {
    transform: none;
  }

  .project-btn:hover .line {
    width: 25px;
    transition: none;
  }
}