.project-title {
    text-align: center;
    padding: 150px;
    background-image: url(../../assets/images/homeimg/storm.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.project-title h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.project-title p {
    font-size: 22px;
}

.project-text {
    padding: 60px 20px 45px;
    background-image: url(../../assets/images/about/aboutback.jpg);
    background-position: center;
    background-size: cover;
}

.project-text h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.project-text p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
}

.menu {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

.menu button {
    padding: 8px 25px;
    font-size: 18px;
    border: none;
    background-color: rgba(128, 128, 128, 0.269);
    cursor: pointer;
}

.menu button.active {
    background-color: rgba(17, 17, 128, 0.828);
    color: white;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    gap: 22px;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}

.project-col {
    position: relative;
    background: #fff;
    color: black;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.444);
}

.project-col img {
    width: 100%;
    max-width: fit-content;
    height: 280px;
    display: block;
}

.project-col::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(255, 255, 255, 0.637) 0%,
            rgba(255, 255, 255, 0.077) 40%,
            rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    transition: 0.4s ease;
}

.project-col:hover::after {
    opacity: 1;
}

.project-col h2,
.projects-tech,
.project-footers {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(80px);
    transition: all 0.5s ease;
    color: #fff;
}

.project-col h2 {
    bottom: 120px;
    padding: 0 20px;
    font-size: 26px;
}

.projects-tech {
    bottom: 70px;
    padding: 0 20px;

}

.projects-tech span {
    display: inline-block;
    background-color: rgba(9, 60, 171, 0.996);
    color: #fff;
    font-size: 13px;
    padding: 5px 8px;
    margin: 4px;
    border-radius: 4px;
}

.project-footers {
    bottom: 25px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LINKS */
.project-links {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.project-types {
    padding: 6px 10px;
    font-size: 12px;
    background-color: rgba(9, 60, 171, 0.996);
    color: #fff;
    border-radius: 3px;
}

.project-col:hover h2,
.project-col:hover .projects-tech,
.project-col:hover .project-footers {
    opacity: 1;
    transform: translateY(0);
}

.project-col h2 {
    transition-delay: 0.1s;
}

.projects-tech {
    transition-delay: 0.2s;
}

.project-footers {
    transition-delay: 0.3s;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.view-more {
    padding: 10px 25px;
    font-size: 16px;
    background-color: #ffffff56;
    color: black;
    border: 2px solid black;
    box-shadow: 0 8px 30px rgba(20, 20, 19, 0.404), 0 0 20px rgba(13, 13, 14, 0.047);
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-more:hover {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.352) 40%,
            rgba(0, 0, 0, 0.938) 100%);
    color: white;
    transform: scale(0.95);
}

@media (max-width: 768px) {
    .project-title {
        padding: 220px 0;
    }

    .project-title h1 {
        font-size: 32px;
    }

    .project-title p {
        font-size: 16px;
    }

    .project-text {
        padding: 40px 15px;
    }

    .project-text h1 {
        font-size: 28px;
    }

    .project-text p {
        font-size: 14px;
    }

    .menu {
        flex-wrap: wrap;
        gap: 8px;
    }

    .menu button {
        font-size: 14px;
        padding: 6px 12px;
        -webkit-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        color: black
    }

    .project-grid {
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 18px;
    }

    .project-col {
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
        overflow: hidden;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    }

    .project-col img {
        height: 220px;
        width: 100%;
    }

    .project-col h2,
    .projects-tech,
    .project-footers {
        position: static;
        opacity: 1;
        transform: translateY(0);
        color: black;
        padding: 20px 22px;
    }

    .projects-tech {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 22px;
    }

    .project-footers {
        flex-direction: row;
        gap: 8px;
        padding-bottom: 20px;
    }

    .project-links {
        font-size: 16px;
        color: black;
    }

    .view-more:hover {
        transform: none;
    }
}