.footer {
  width: 100%;
  background: #050505;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

/* MAIN */

.footer-main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px 40px;
  text-align: center;
}

.footer-name {
  font-size: 52px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 45px;
  letter-spacing: 1px;
}

.footer-name span {
  color: #d4af37;
}

/* MENU */

.footer-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0 0 30px;
}

.footer-item {
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: gray;
  transition: 0.3s ease;
}

.footer-menu a {
  color: inherit;
  text-decoration: none;
}

.footer-item:hover,
.footer-menu a:hover {
  color: #d4af37;
}

/* LINE */

.footer-line {
  display: block;
  width: 20%;
  height: 2px;
  background: rgba(255, 255, 255, 0.15);
  margin: 0 auto 30px;
}

/* SOCIALS */

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.footer-socials a {
  width: 58px;
  height: 58px;
  border-radius: 16px;
  background: #0f0f0f;
  border: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 24px;

  transition: all 0.3s ease;
}

.footer-socials a:hover {
  transform: translateY(-5px);
  background: #151515;
  border-color: rgba(255, 255, 255, 0.2);
}

/* BOTTOM */

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  text-align: center;
  padding: 25px 20px;
  color: #bdbdbd;
  font-size: 16px;
}

.footer-bottom span {
  color: #ffffff;
  font-weight: 700;
}

/* TABLET */

@media (max-width: 992px) {
  .footer-name {
    font-size: 42px;
  }

  .footer-menu {
    gap: 30px;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .footer-main {
    padding: 60px 20px 40px;
  }

  .footer-name {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .footer-menu {
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 30px;
  }

  .footer-item {
    font-size: 15px;
  }

  .footer-line {
    width: 70%;
  }

  .footer-socials a {
    width: 50px;
    height: 50px;
    font-size: 22px;
  }

  .footer-bottom {
    font-size: 16px;
    line-height: 1.7;
  }
}