.footer {
    width: 100%;
    position: relative;
}

.footer-main {
    background: black;
    text-align: center;
    padding: 80px 20px 20px;
    color: #fff;
}

.footer-name {
    font-size: 34px;
    margin-bottom: 40px;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin-bottom: 30px;
}

.footer-menu li {
    font-size: 16px;
    cursor: pointer;
}

.footer-menu a {
    color: white;
}


.footer-menu li:hover {
    color: blue;
}

.footer-menu li a:hover {
    color: blue;
}

.footer-item {
    cursor: pointer;
    font-size: 14px;
}

.footer-line{
    display: block;
    width:180px;
    height:2px;
    background:white;
    margin:0 auto 35px;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 50px;
}

.footer-socials a {
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.footer-socials a:hover {
    background: #fff;
    color: black;
}

.footer-bottom {
    width: 100%;
    background-color: black;
    border-top: 1px solid #fff;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 15px 10px;
}

.footer-bottom span {
    font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .footer-menu {
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer-name {
        font-size: 29px;
    }
    .footer-bottom {
        padding: 18px 10px;
        font-size: 12px;
    }
}