.skils-title {
    text-align: center;
    padding: 185px 0;
    background-color: black;
    color: white;
}

.skils-title h1 {
    font-size: 55px;
}

.skills-item {
    padding: 80px;
    background-color: #f8f8f8;
}

.skills-item h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
}

.skills-card {
    padding: 22px 25px;
    width: 100%;
    max-width: 289px;
    height: auto;
    background-color: white;
    color: black;
    border: 2px solid white;
    transition: all 0.3s ease;
}

.skills-card h3 {
    margin-top: 20px;
}

.skills-card p {
    margin-top: 12px;
}

.skills-card:hover {
    transform: translateY(-10px);
}

.skills-card img {
    height: 70px;
    width: 70px;
}

@media screen and (max-width: 480px) {
    .skils-title {
        padding: 90px 15px;
    }

    .skils-title h1 {
        font-size: 30px;
    }

    .skills-item {
        padding: 25px 15px;
    }

    .skills-item h1 {
        font-size: 28px;
        margin-bottom: 25px;
    }

   .skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}

    .skills-card {
        width: 100%;
        text-align: center;
    }

    .skills-card img {
        height: 55px;
        width: 55px;
    }
}
