.skils-title {
    text-align: center;
    padding: 185px 0;
    background-color: black;
    color: white;
}

.skils-title h1 {
    font-size: 55px;
}

.skills-text {
    padding: 80px 20px;
    background-color: #cbbcbc31;
}

.skills-text h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.skills-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
    width: 100%;
    max-width: 1220px;
    justify-content: center;
    margin: 0 auto;
}

.skills-item {
    padding: 22px 25px;
    background-color: white;
    color: black;
    border: 2px solid white;
    transition: all 0.3s ease;
}

.skills-item h3 {
    margin-top: 20px;
}

.skills-item p {
    margin-top: 12px;
}

.skills-item:hover {
    transform: translateY(-10px);
}

.skills-item img {
    height: 70px;
    width: 70px;
}

@media screen and (max-width: 768px) {
    .skils-title {
        padding: 220px 0;
    }

    .skils-title h1 {
        font-size: 30px;
    }

    .skills-text {
        padding: 50px 15px;
    }

    .skills-text h1 {
        font-size: 28px;
        margin-bottom: 40px;
    }

    .skills-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin: 0 auto;
    }

    .skills-item {
        padding: 18px 14px;
        text-align: center;
    }

    .skills-item img {
        height: 55px;
        width: 55px;
    }
}